{% extends '@Admin/template.html.twig' %}

{% block content %}
    <div id="content-header">
        <div id="breadcrumb"><a href="#" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> Strona główna</a> <a
                    href="{{ url('admin_category_list') }}">Kategorie</a>
            <a href="#" class="current">{% if categoryId is not null %}Edycja{% else %}Nowa{% endif %}</a>
        </div>
        <h1>Kategorie</h1>
    </div>
    <div class="container-fluid">
        <hr>
        <div class="row-fluid">
            <div class="span12">
                <div class="widget-box">
                    <div class="widget-title"><span class="icon"><i class="icon-th"></i></span>
                        {% if categoryId is null %}<h5>Nowa kategoria</h5>{% else %}<h5>Edycja kategorii{% endif %}</h5>
                    </div>
                    <div class="widget-content">
                        {{ render(controller('AdminBundle:Category:form', {'id': categoryId})) }}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

