{% extends '@Admin/template.html.twig' %}

{% block content %}
    <div id="content-header">
        <div id="breadcrumb"><a href="#" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> Strona główna</a> <a
                    href="{{ url('admin_donor_list') }}">Ofiarodawcy</a>
            <a href="#" class="current">{% if donorId is not null %}Edycja{% else %}Nowy{% endif %}</a>
        </div>
        <h1>Ofiarodawcy</h1>
    </div>
    <div class="container-fluid">
        <hr>
        <div class="row-fluid">
            <div class="span12">
                <div class="widget-box">
                    <div class="widget-title"><span class="icon"><i class="icon-th"></i></span>
                        {% if donorId is null %}<h5>Nowy ofiarodawca</h5>{% else %}<h5>Edycja ofiarodawcy{% endif %}</h5>
                    </div>
                    <div class="widget-content">
                        {{ render(controller('AdminBundle:Donor:form', {'id': donorId})) }}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

