<a data-fancybox="{{ container }}" data-caption="{{ container }}" href="{{ image('@AdminBundle/Resources/Photos/' ~ photoName).resize(800, 800, 'transparent') }}">
    <img src="{{ image('@AdminBundle/Resources/Photos/' ~ photoName).resize(size) }}" alt=""/>
</a>